page-about {

}
container-button-about{
    background-color:  #007d64;
}
.iconoVerde {
    float: right !important;
    margin-top: -48px  !important;
    height: 40px  !important;
}
.sonido{
    text-align: right;
    margin: 10px 6px;
}
.imgSonido{
    height: 30px;
}
.iconoNiveles{
    text-align: center;
    margin: 56px 0px;
}
.imgNiveles{
    height: auto;
}
.iconoApagar{
    text-align: center;
}
.imgApagar{
    height: 70px;
}
