page-notas {

}
//.....................................................................Listado de notas..............................................//
.tituloNotas{
    color:color($colors, secondary);
}
table {
    width: 100%;
    padding: 1px;
    margin-bottom: 8px;
 }
 thead {
    color: color($colors, secondary);
    padding: 3px;
}
#corteNotas th {
    padding: 10px;
}
tbody {
    color: white;
}
  #tablaNotas td {    
    border-left : 2px color($colors, secondary) solid;
    padding: 5px 10px;
 }

 #tablaNotas td p:first-child {
    text-align:left; 
    color: color($colors, secondary);
    float: left;
    font-weight: bolder;
 }
 #tablaNotas td:first-child {
    border: none !important;
}
 #tablaNotas td:nth-child(1n+2)  {   
    font-weight: bold;
 
}
 #tablaNotas td p:nth-child(2)  {   
    text-align: left;
    color:color($colors, light);
}
#tablaNotas tr td:nth-child(2) {
    border: none !important;
 }
 .fondoTr{
    background-color:color($colors, secondary);
    opacity: 0.3;
}
 //............................................................... Calcular las notas..................................................................//

 #calculoRapido  {
    margin-top: 30px;
    padding: 10px;
    margin-bottom: 30px
 }
 #tituloCalculo{
     float: left;
     padding-bottom: 12px;
 }
 #notasCalculo td{
     padding: 5px 10px;
     border-bottom:  2px color($colors, secondary) solid;
 }
 .botonCalcular{
    background-color: color($colors, secondary);
    border-radius: 8px;
    text-align: center;
    float: right;
    padding: 10px;
 }
#notasCalculo td:first-child {
    border: none !important;
}
#notasCalculo td:nth-child(3){
   border-bottom: none;
}
.button-ios {
    font-size: 1.3rem;
}
.asignaturas{
    font-weight: lighter !important;
    color: #E7E1E0;
}
//................................................. footer Materia.......................................................//
#footerMateria{
    padding: 20px;
}
#footerMateria p {
color:color($colors, secondary);
font-size: large;
font-weight: bold;
}

