page-home {

}
.ion-page{
    background-color: color($colors, primary);
}
.toolbar-ios {
    min-height: 100px;
}
.toolbar-background-md {
    background-color: color($colors, primary);
}
.toolbar-background-ios {
    background-color: color($colors, primary);
}
.tabs-md .tabbar,.tabs-ios .tabbar { 
    background-image: url(../assets/imgs/pie-de-pagina.png);
    background-attachment: no-repeat;
    background-color: transparent;
    background-position:center;
    background-size:100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    max-width: 100%;   
    border-top-width: 0;    
}
.tabs-ios .tabbar{
height: 60px !important;
}
.content{
    background-color: color($colors, primary);
  
    
}
// .content-ios{
//     background-color:color($colors, primary);
//     margin-top: px;
// }

.toolbar-title-md {
    margin-top: 5px;
    text-align: center;
    // height: 91px;
}
.toolbar-title-ios {
    margin-top: 20px;
}
.toolbar-ios ion-title{
    padding: 0 10px;
}

.ion-app.md [padding] .scroll-content{
    padding: 10px;
}
.header{
    height: fit-content !important;
}
.toolbar-content-ios {
    height: 82px !important;
}
.imgCun{
    height: 43px;
}

.searchbar-md .searchbar-input {
    color: #fff;
    background: #005c61;
    padding: 0px 49px;
    border-radius: 20px;
}
.toolbar .searchbar-ios {
    top: 45px;
    
}
.toolbar .searchbar-ios .searchbar-input {
    color: #fff;
    background: #005c61;
    padding: 0px 49px;
    border-radius: 20px;
    width: 100%;

}
.grid {
    padding: 0px;
    margin-top: -10px;
}
.button-inner{
    display: inherit;
}
.verdeClaro{
    background-color:color($colors, secondary);
    height: 95%;
    width: 100%;
    border-radius: 8px;
    padding: 8px 6px;

}
.verdeOscuro{
    background-color: color($colors, third);
    height: 95%;
    width: 100%;
    border-radius: 8px;
    padding: 8px 6px;

}
.col {
    padding: 6px 5px;
}
.candadoIcon{
    min-width: 100%;
}
.imageIcono{
    /*border: 1px solid black;*/
    height: 39px;
    width: 45px;
    padding-top: 4px;
}
 p{
    text-align: center;
    margin: 0;
    color: #fff;
    font-family: Century Gothic;
    font-size: 14px;
    text-transform: capitalize;
 }
 .iconoImg{
     text-align: center;
 }
 .candadoIco{
     max-width:14%;
     height: 14px;
     float: left;
 }
ion-app.md [padding] {
    padding: 7px;
}
.tabs-md .tab-button-text {
    visibility: hidden;
}
.tabs-ios .tab-button-text {
    visibility: hidden;
}
.footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    top: inherit;
    bottom: 0;
}