page-carne {

}
ion-card {
    background-color: color($colors, secondary)!important;
    border-radius: 14px !important;
}
.footerCarne{
    padding: 16px;
}
.textFooter{
    text-align: left;
    font-size: 14px; 
    font-weight: inherit !important;
    
}
.datosC {
  text-align: left !important;
}
.codigo{
    margin: 45px 90px;
}

